*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(46, 49, 68);
    padding: 20px 0;
}
nav div h1{
    color: #fff;
    font-size: 35px;
    color: pink;
}
nav div a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    font-size: 18px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 20px;
    flex-wrap: wrap;
    background: rgb(58, 61, 83);
    color: #fff;
    gap: 60px;
}
.heroText{
    max-width: 500px;
}
.heroText h1{
    font-size: 48px;
    padding: 20px 0;
}
.heroText p{
    font-size: 18px;
    padding: 10px 0;
    letter-spacing: .5px;
}
.heroText button{
    padding: 7px 25px;
    border: none;
    background-color: pink;
    font-size: 18px;
    color: rgb(70, 110, 170);
    font-weight: 700;
    margin: 10px 0;
    cursor: pointer;
}
.heroImage img{
    width: 100%;
    max-width: 700px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
footer img{
    width: 50px;
    margin: 0 20px;
}
.logoImage{
    background: rgb(58, 61, 83);
    display: flex;
    justify-content: center;
    padding: 4em 0;
    align-items: center;
}
.logoImage img{
    width: 300px;
    border-radius:100%;
    border: 8px solid rgb(122, 93, 189);
}
